body {
	background-color: #008B8B;
	font-size: 20px;
	font-color: #FFFFFF;
}

#searchvalue {
	float:left;
	clear:both;
}
#search {
	background-color: purple;
	font-size: 25px;
	width: 100px;
	height: 40px;
	float: left;
	clear:both;
}

#results{
	font-style: Verdana;
	font-color: #FFFFFF;
	float: left;
	clear: both;
}


