body {
	background-color: #008B8B;
	font-size: 20px;
	color: #FFFFFF;
}

#searchvalue {
	height: 100px;
	width: 200px;
	float:left;
	clear:both;
}
#search {
	background-color: #4682B4;
	font-size: 25px;
	width: 200px;
	height: 40px;
	float: left;
	clear:both;
}

#results{
	font-style: Verdana;
	float: left;
	clear: both;
}

#results li {
	color: #F5FFFA;
}


