body {
	background-color: #C0DEED;
	font-size: 20px;
	font-style: "Liberation Sans", Helvetica, Arial, sans-serif;
}

#heading {
    height: 5em;
    position: relative 
}
#heading #twittericon {
	height: 40px;
	width: 50px;
}
#heading h1 {
    margin: 0;
    color: #53A9E9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
#entryform{
	height: 5em;
	position: relative
}
#searchvalue {
	height: 25px;
	width: 196px;
	
	position: absolute;
	top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
#search {
	background-color: #4682B4;
	font-size: 15px;
	width: 200px;
	height: 30px;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#resultsarea{
	background-color: #ffffff;
	float: left;
	clear: both;
	height: 5000px;
	width: 800px;
	margin-left: 200px;
	margin-top: 20px;
	border-radius: 3px 3px 0 0;
}

#results{
	float: left;
	clear: both;
}

#results .tweettext {
	color: #F5FFFA;
}

.mediapic {
	width: 506px;
	height: 337px;
}

.tweettext, .mediapic {
	float: left;
	clear: both;
	color: #000000;
}
.tweetdiv {
	padding-left: 25px;
	padding-right: 25px;
}